main {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  max-width: 900px;
  padding: 10px 10px 10px 10px;
  background-color: rgba(178, 184, 163, 0.36);
  border-radius: 3px;
}

p {
  font-size: 18px;
  font-family: "M PLUS 2", sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 5px;
  line-height: 1.2;
}

footer {
  text-align: center;
  color: #404040;
}

.navbar {
  color: rgb(178, 184, 163);
  margin-bottom: 10px;
}
.card-header {
  padding: 0.5rem;
}
.card-body {
  background-color: #343a40;
}
.btn {
  color: rgb(178, 184, 163);
  border-color: whitesmoke;
}
.btn:hover {
  background-color: rgb(119, 122, 107);
  border-color: rgb(109, 112, 99);
}

.current-temperature {
  padding: 10px 0;
}
.temperature-value {
  vertical-align: middle;
}
.deg {
  font-size: 20px;
  position: relative;
  top: -10px;
}

.today-highlights {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 34px;
  line-height: 1.5;
  padding: 10px 5px;
}
.current-conditions {
  color: #444444;
}
.current-weather-icon {
  padding: 8px;
}
.today-weather-conditions {
  text-align: center;
  border: 1px solid rgba(122, 122, 122, 0.1);
  border-radius: 2px;
  box-shadow: 3px 4px 10px 0px rgba(122, 122, 122, 0.74);
  margin-top: 10px;
}
.std-icon {
  padding: 5px;
  width: 50px;
}
.current-temp {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 48px;
  line-height: 1.5;
}
.today-weather-description {
  text-transform: capitalize;
}
.current-city-label {
  text-align: center;
  font-size: 20px;
}
.forecast-section {
  align-content: center;
  display: block;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  background-color: #fafafa;
  text-align: center;
  box-shadow: 3px 4px 5px 0px rgba(122, 122, 122, 0.74);
}
.logo {
  padding: 0;
}
.logo img {
  max-width: 90%;
  border-radius: 2px;
  box-shadow: 3px 4px 5px 0px rgba(122, 122, 122, 0.74);
}
.search-section {
  padding: 0;
}
.card-body {
  box-shadow: 5px 5px 7px -7px #000000;
}
.forecast-table {
  padding: 0 10px 20px 0;
}
.col-2 {
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
}
.form-control {
  background-color: lightgray;
}

.large-temp-icon {
  width: 18px;
  padding-bottom: 5px;
}
.temp-icon {
  width: 10px;
}
.fas {
  font-size: 30px;
  padding: 10px 0 0 0;
}
.fa-thermometer-quarter {
  color: #344cb7;
}
.fa-thermometer-three-quarters {
  color: #911f27;
}

.col-2 {
  margin: 0 5px;
}
